
body {
    margin: 0 auto;
    font-family: 'Sorts Mill Goudy', serif;
    width: 500px;
    font-size: smaller;
    line-height: 1;
    color: #444;
    padding-left:0.3em;
    padding-right:0.3em;
}

nav ul, footer ul {
    font-family: 'Sorts Mill Goudy', serif;
    padding: 1px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family: 'Fjord One', serif;
    text-align: center;
    max-width: 50vw;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
	@media (min-width: 600px) {
		.scroller {
			display:none;
		}
	}
	@media (max-width: 600px) {
		html {
			scroll-behavior: smooth;
		}
	}
	.scroller {
		position: fixed;
		right: 0px;
	}
	.scroller.bottom {
		bottom: 0px;
		width: 110px;
		height: 240px;
	}
	.scroller.top {
		bottom: 240px;
		width: 110px;
		height: 110px;
	}
	.scroller > div {
		position: absolute;
		display: flex;
		flex-direction: vertical;
		text-align: center;
		justify-content: flex-end;
		align-items: center;
		top: 6px;
		right: 6px;
		bottom: 6px;
		left: 6px;
		border-radius: 8px;
		background: #00000000;
	}
	.scroller > div::after {
		position: absolute;
		bottom: 8px;
		right: 3px;
		font-size: 14px;
	}
	.scroller.bottom > div::after {
		content: '▼';
	}
	.scroller.top > div::after {
		content: '▲';
	}
	.scroller.clicked > div {
		animation-name: flash;
		animation-iteration-count: 1;
		animation-duration: 300ms;
	}
	
	@-webkit-keyframes flash {
		0% {
			background: #00000000;
  	}
		10% {
			background: #00000020;
		}
		100% {
			background: #00000000;
		}
	}
js
	//touchControls are inserted by javascript to make sure they don't show up for noscript sessions, in which they wouldn't function.
window.addEventListener('DOMContentLoaded', function(){
	let makeScroller = (classtag, scrollAmount)=> {
		let scroller = document.createElement('div')
		scroller.appendChild(document.createElement('div'))
		scroller.classList.add('scroller')
		scroller.classList.add(classtag)
		scroller.addEventListener('click', ()=>{
			window.scrollBy(0, scrollAmount)
			scroller.classList.add('clicked')
			setTimeout(()=> {
				scroller.classList.remove('clicked')
			}, 200)
		})
		document.body.appendChild(scroller)
	}
	makeScroller('bottom', document.body.clientHeight*0.8)
	makeScroller('top', -document.body.clientHeight*0.8)
}) (edited) 

<style>
@import url('https://fonts.googleapis.com/css?family=Fjord+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy&display=swap');
</style>
