<!DOCTYPE html>
<html>
	<script src="//pull.cappuccicons.com/cpf.js"></script>
	<head>
		<link rel="icon" type="image/png" href="https://github.com/ray-dorai/ray-dorai.github.io/blob/master/raydoraisamy_favicon.png?raw=true" />
<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Base</a></li>
        		<li><a href="/explorations">Explorations</a></li>
			<li><a href="/intake.html">Intake</a></li>
			<li><a href="/neighbors.html">Neighbors</a></li>
			<li><a href="/want.html">Want</a></li>
    		</ul>
		</nav>
		<div class="container">
			
			{{ content }}
			
			</div>
		<!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:ray.doraisamy@gmail.com">Say "Hi"</a></li>
			</ul>
		</footer>
	</body>
</html>
